<h1>Listing attributes</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Label</th>
      <th>Attribute layer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attributes.each do |attribute| %>
      <tr>
        <td><%= attribute.label %></td>
        <td><%= attribute.attribute_layer.label %></td>
        <td><%= link_to 'Show', palette_attribute_layer_attribute_path(@palette, @attribute_layer, attribute) %></td>
        <td><%= link_to 'Edit', edit_palette_attribute_layer_attribute_path(@palette, @attribute_layer, attribute) %></td>
        <td><%= link_to 'Destroy', [@palette, @attribute_layer, attribute], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attribute', new_palette_attribute_layer_attribute_path(@palette, @attribute_layer) %>
