<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @attribute.label %>
</p>

<p>
  <strong>Attribute layer:</strong>
  <%= @attribute.attribute_layer_id %>
</p>

<%= link_to 'Edit', edit_palette_attribute_layer_attribute_path(@palette, @attribute_layer, @attribute) %> |
<%= link_to 'Back', palette_attribute_layer_attributes_path(@palette, @attribute_layer) %>
