<h1>Listing attribute_layers</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Label</th>
      <th>Palette</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attribute_layers.each do |attribute_layer| %>
      <tr>
        <td><%= attribute_layer.label %></td>
        <td><%= attribute_layer.palette_id %></td>
        <td><%= link_to 'Show', palette_attribute_layer_path(@palette, attribute_layer) %></td>
        <td><%= link_to 'Edit', edit_palette_attribute_layer_path(@palette, attribute_layer) %></td>
        <td><%= link_to 'Destroy', [@palette, attribute_layer], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attribute layer', new_palette_attribute_layer_path(@palette) %>
