<h1>Listing comment_threads</h1>

<table>
  <thead>
    <tr>
      <th>Pin x</th>
      <th>Pin y</th>
      <th>Design version</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comment_threads.each do |comment_thread| %>
      <tr>
        <td><%= comment_thread.pin_x %></td>
        <td><%= comment_thread.pin_y %></td>
        <td><%= comment_thread.design_version_id %></td>
        <td><%= link_to 'Show', comment_thread %></td>
        <td><%= link_to 'Edit', edit_comment_thread_path(comment_thread) %></td>
        <td><%= link_to 'Destroy', comment_thread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment thread', new_comment_thread_path %>
