<p id="notice">
  <%= notice %>
</p>
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong><span class="glyphicon glyphicon-th"></span><%= @project.label %></strong>
    </div>
    <div class="panel-body">
      <table class="_project table table-bordered table-striped table-hover">
        <tr>
          <td>Project Description:</td>
          <td><%= @project.description %></td>
        </tr>
        <tr>
          <td>Product Category:</td>
          <td><%= @project.product_category.label %></td>
        </tr>
        <tr>
          <td>Owner Artisan</td>
          <td><%= @project.artisan.email %></td>
        </tr>
        <tr>
          <td>Customer:</td>
          <td><%= @project.customer_id ? @project.customer.email : 'None' %></td>
        </tr>
        <tr>
          <td>Parent Project</td>
          <td><%= @project.artisan.email %></td>
        </tr>
        <tr>
          <td>Public? :</td>
          <td><%= @project.show_in_catalog ? 'Yes' : 'No' %></td>
        </tr>
        <tr>
          <td>Design Versions Count:</td>
          <td><%= @project.design_versions_count %></td>
        </tr>
        <tr>
          <td>Created At:</td>
          <td><%= @project.created_at %></td>
        </tr>
        <tr>
          <td>Last Updated At:</td>
          <td><%= @project.updated_at %></td>
        </tr>
      </table>
      
      <%=link_to 'Edit', edit_project_path(@project) %>|
      <%=link_to 'Back', projects_path %>
    
    </div>
  </div>
</div>
<!-- d.strftime("Printed on %m/%d/%Y") -->