<!DOCTYPE html>
<html>
<head>
  <title>Artisan Market</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <%= csrf_meta_tags %>
</head>

<body id="app">

<div class="row body-container">

  <div class="row">
    <section id="header" class="top-header">
      <%= render "layouts/top_nav" %>
    </section>
  </div>

  <div class="row main-container">
    <aside id="nav-container">
      <%= render "layouts/side_nav" %>
    </aside>

    <!-- <div class="col-md-8 col-md-offset-2"> -->
      <div class="view-container">
        <section data-ng-view="" id="content" class="animate-fade-up ng-scope">
          <div class="page page-dashboard ng-scope" data-ng-controller="DashboardCtrl">
            <%= yield %>
          </div>
        </section>
      </div>
    <!-- </div> -->

  </div>

</div>


</body>
</html>

<script type="text/javascript">
  $(document).ready(function() {

    console.log("loading!");
    
    $(".toggle-min").on("click", function(e) {
      console.log("clicked");
      var app = $("#app");
      app.hasClass("nav-min") ? app.removeClass("nav-min") : app.addClass("nav-min");
    });

    $("li.dropdown.text-normal.nav-profile").on("click", function(e) {
      console.log("nav clicked");
      var nav = $(this)[0];
      nav.hasClass("open") ? nav.removeClass("open") : nav.addClass("open");
    });

    $("li.dropdown.messages").on("click", function(e) {
      console.log("cl");
      var $msgs = $("li.dropdown.messages")[0];
      $msgs.hasClass("open") ? $msgs.removeClass("open") : $msgs.addClass("open");
    });

    $("li.dropdown.mail").on("click", function(e) {
      console.log("cl");
      var $mail = $("li.dropdown.mail")[0];
      $mail.hasClass("open") ? $mail.removeClass("open") : $mail.addClass("open");
    });

    $("li.dropdown.notifications").on("click", function(e) {
      console.log("cl");
      var $notifs = $("li.dropdown.notifications")[0];
      $notifs.hasClass("open") ? $notifs.removeClass("open") : $notifs.addClass("open");
    });






    // normalizing simple form
    var inputs = $("form .form-inputs .control-group");
    // console.log(inputs);
    $.each(inputs, function(i, v) {
      console.log($(v));
      $(v).removeClass("control-group").addClass("form-group");
      var $control = $(v).find(".controls");
      var $content = $($control.html());
      console.log($content);
      $content.addClass("form-control");
      $control.remove();
      $(v).append($content);
    });

    $("select").wrap("<span class='ui-select'></span>");

    $("form input.btn").addClass("btn-primary");

    $("ul#nav > li").on("click", function(e) {
      var $this   = $(this);
      var $others = $this.siblings();
      
      // $others.removeClass("open");
      // $this.addClass("open");

      $.each($others, function(i, el) {
        var $el = $(el);
        if ($el.hasClass("open")) {
          $el.find("ul").slideUp();
          $el.remoevClass("open");
        }
      });

      $this.addClass("open");
      $this.find("ul").slideDown();
    });

        // link: function (scope, ele) {
        //   var $a, $aRest, $lists, $listsRest, app;
        //   return $lists = ele.find("ul").parent("li"), $lists.append('<i class="fa fa-caret-right icon-has-ul"></i>'), $a = $lists.children("a"), $listsRest = ele.children("li").not($lists), $aRest = $listsRest.children("a"), app = $("#app"), $a.on("click", function (event) {
        //     var $parent, $this;
        //     return app.hasClass("nav-min") ? !1 : ($this = $(this), $parent = $this.parent("li"), $lists.not($parent).removeClass("open").find("ul").slideUp(), $parent.toggleClass("open").find("ul").slideToggle(), event.preventDefault())
        //   }), $aRest.on("click", function () {
        //     return $lists.removeClass("open").find("ul").slideUp()
        //   }), scope.$on("minNav:enabled", function () {
        //     return $lists.removeClass("open").find("ul").slideUp()
        //   })
        // }
    
  });
</script>


<style type="text/css">
#content {
  background-color: #f3f3f3;
}
</style>

